@model  Mvcproject.ModelView.CurriculumViewModel
@using Mvcproject.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangeSchedule1</title>
</head>
<body>
    <div>

        <div>
            <span style="color:blue">Courses schedules</span>
            <br />
            <table>
                <tr>
                    <td>Course id</td>
                    <td>Course Name</td>
                  
                </tr>
                @foreach (Courses obj in Model.courses)
                {
                    <tr>
                        <td>@obj.course_id</td>
                        <td>@obj.course_name</td>
                        <td>@Html.ActionLink("Edit", "edit_curr", obj, new { @class = "classname" })</td>
                    </tr>
                }
            </table>

        </div>
    </div>
</body>
</html>
