@model Mvcproject.Models.Teachers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePageTeacher</title>
</head>
<body>
    <div>
        <h1>Hello @Model.firstname @Model.lastname</h1>
        <br />
        @Html.ActionLink("View Schedule", "View_TSchedule", @Model, new { @class = "classname" })
        <br />
        @Html.ActionLink("View Courses", "View_Courses", @Model, new { @class = "classname" })
        <br />
    </div>
</body>
</html>
