@model Mvcproject.ModelView.CurriculumViewModel
@using Mvcproject.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View_Courses</title>
</head>
<body>
    <div>
        <span style="color:blue">Schedule </span>
        <br />
        <table>
            <tr>
                <td>Course id</td>
                <td>Course Name</td>
                

            </tr>
            @foreach (Courses obj in Model.courses)
            {
                <tr>
                    <td>@obj.course_id</td>
                    <td>@obj.course_name</td>
                    <td>@Html.ActionLink("Students", "View_Students", obj, new { @class = "classname" })</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
