@model  Mvcproject.Models.Students
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePageStudent</title>
</head>
<body>
    <div>
        <h1>Hello @Model.firstname @Model.lastname</h1>
        <br />
        @Html.ActionLink("View Schedule", "View_Schedule", @Model, new { @class = "classname" })
        <br />
        @Html.ActionLink("View Exams", "View_Exams", @Model, new { @class = "classname" })


    </div>
</body>
</html>
